[data-mode="light"] {
    --dtz-primary-lighter: #D0FACF !important;
    --dtz-primary-light: #6DE381 !important;
    --dtz-primary: #16A34A !important;
    --dtz-primary-dark: #0B7547 !important;
    --dtz-primary-darker: #044E3C !important;

/*    --dtz-secondary-lighter: #EAFBD6 !important;
    --dtz-secondary-light: #ADEA81 !important;
    --dtz-secondary: #57BA30 !important;
    --dtz-secondary-dark: #288518 !important;
    --dtz-secondary-darker: #095909 !important;*/

    --dtz-success-lighter: #EAFBD6 !important;
    --dtz-success-light: #ADEA81 !important;
    --dtz-success: #57BA30 !important;
    --dtz-success-dark: #288518 !important;
    --dtz-success-darker: #095909 !important;

    --dtz-info-lighter: #D9DEFF !important;
    --dtz-info-light: #8E9AFF !important;
    --dtz-info: #4454FF !important;
    --dtz-info-dark: #222CB7 !important;
    --dtz-info-darker: #0D127A !important;

    --dtz-warning-lighter: #FFFACD !important;
    --dtz-warning-light: #FFEB6A !important;
    --dtz-warning: #FFD507 !important;
    --dtz-warning-dark: #B79203 !important;
    --dtz-warning-darker: #7A5D01 !important;

    --dtz-danger-lighter: #FDE5D1 !important;
    --dtz-danger-light: #F59C75 !important;
    --dtz-danger: #E03A1D !important;
    --dtz-danger-dark: #A10E0F !important;
    --dtz-danger-darker: #6B0516 !important;
}

[data-mode="dark"] {
    --dtz-primary-lighter: #DCFDDB !important;
    --dtz-primary-light: #93F5A3 !important;
    --dtz-primary: #4ADE80 !important;
    --dtz-primary-dark: #259F6A !important;
    --dtz-primary-darker: #0E6A54 !important;

/*    --dtz-secondary-lighter: #F0FDD8 !important;
    --dtz-secondary-light: #C3F48A !important;
    --dtz-secondary: #81DB3D !important;
    --dtz-secondary-dark: #479D1E !important;
    --dtz-secondary-darker: #1E690B !important;*/

    --dtz-success-lighter: #F0FDD8 !important;
    --dtz-success-light: #C3F48A !important;
    --dtz-success: #81DB3D !important;
    --dtz-success-dark: #479D1E !important;
    --dtz-success-darker: #1E690B !important;

    --dtz-info-lighter: #D9E2FE !important;
    --dtz-info-light: #FFE466 !important;
    --dtz-info: #FFC700 !important;
    --dtz-info-dark: #B78600 !important;
    --dtz-info-darker: #7A5400 !important;

    --dtz-warning-lighter: #FFF8CC !important;
    --dtz-warning-light: #FFEB6A !important;
    --dtz-warning: #FFD507 !important;
    --dtz-warning-dark: #B79203 !important;
    --dtz-warning-darker: #7A5D01 !important;

    --dtz-danger-lighter: #FFEFDF !important;
    --dtz-danger-light: #FFC1A1 !important;
    --dtz-danger: #FF8263 !important;
    --dtz-danger-dark: #B73831 !important;
    --dtz-danger-darker: #7A131D !important;
}